$width:600px;

@mixin for-phone-only {
    @media (max-width: $width) {
        .pictures {
            height: 100%;
            width: 80%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(20, 1fr);
            margin: 0 auto;
            aspect-ratio: 1 / 1;

            &__btn {
                aspect-ratio: 1 / 1;
            }
        }
    }
}
